$basecolor: #1EAEDB;
$bgcolor: #333;
body.admin{
	background-color: $bgcolor;

	.container.main{
		background-color: #fff;
		padding: 2.5rem 5rem;
	}

	nav.menu{
		background-color: rgba(147, 213, 54, 0.5);;
		ul{
			list-style-type: none;
			margin: 0;
			padding: 1.5rem 0;
			font-family: "Open Sans";
		}
		li{
			display:inline;
			padding: 1.5rem;
			background-color: rgba(darken(#efefef,10%),.5);
		}
		a{
			text-decoration: none;
			
			color: #333;
		}
	} 

	.bestow-on{
		display:inline;
	}

}

/* media queries */
@media (max-width: 719px) {
	body.admin nav.menu{
		li{
			display: block;
		}
	}
}