$basecolor: #1EAEDB;
a{
	text-decoration: none;
}

nav.topnav{
	background-color: #000;
	color: white;
	text-transform: uppercase;
	padding: 1.5rem 8%;
	float: left;
	width: 84%;

	h1{
		font-size: 3rem;
		margin: 0;
		line-height: 4rem;
	}

	.navtitle{
		float: left;
	}
	.navbuttons{
		float: right;
		button{
			background-color: rgba(#efefef,.3);
			color: #fff;
			margin-bottom: 0;
			a{
				color: #fff;
			}
			a:hover{
				color: $basecolor;
			}
		}
	}
}
.flash-success{
	border: 1px solid lighten(#90ee90,10%);
	padding-left: 1em;
}
.goto-text{
	text-align:right;
}
.pagenav.prev{
	float:left;
	color: #999;
}
.pagenav.next{
	float:right;
	color: #999;
}
.pagenav{
	a{
		text-decoration: none;
	}
}
.pagecount{
    text-align: center;
}

.dash-transactions{
	overflow:scroll;
}

.form-field{
	display:inline;
}
.field-validation{
	display:inline;
	margin-left: 1.5rem;
	color:#ff0000;
}
.user-id{
	margin-right:1.5rem;
	float:left;
	height: 4rem;
	line-height: 4rem;
}

@media (max-width: 400px) {
	nav.menu{
		li{
			display:block;
		}
	}
}