$basecolor: #1EAEDB;

nav.menu{
	background: linear-gradient(lighten($basecolor,40%),lighten($basecolor,50%));
	.sendtab{
		background-color: lighten(#3ea336,35%);
	} 
}
nav{
	ul{
		list-style-type: none;
		padding: 1.5rem 0;
	
	}
	li{
		display:inline;
		padding: 1.5rem;
		background-color: #efefef;
	}
	a{
		text-decoration: none;
		/* font-weight: bold; */
	}
}
.navtitle{
	h1{
		a{
			color: #fff;
			font-weight: normal;
		}
		a:hover{
			color: $basecolor;
		}
	}
}


.neg {
	td.amt{
		color: red;
	}
}
.column,.columns{
	border: 1px solid darken(#efefef,30%);
	padding: 1rem;
}
.supercolumn{
	border:none;
	padding: 0;
}
.subcolumn{
	border: 1px solid darken(#efefef,30%);
	padding: 1rem;
	margin-bottom: 3.75rem;
}
.under-row{
	margin-top: 3.75rem;
}
p.balance{
	text-align: center;
	font-size: 350%;	
}
h4.subcolumn-heading{
	text-align: center;
}