<nav class="topnav">
  <div class="navtitle"><h1><a href="/">Local Tokens</a></h1></div>

  <div class="navbuttons">
    <div class="user-id">
      {{#if username}}
        <a href="/user/dashboard">
          <i class="fa fa-user-circle-o"></i>
          {{username}}
        </a>
      {{/if}}
    </div>
    {{#if loggedin}}
    {{else}}
      <button><a href="signup">Sign Up</a></button>
    {{/if}}

    &nbsp;&nbsp;

    <button><a href="/{{#if loggedin}}logout{{else}}login{{/if}}">
      {{#if loggedin}}Logout{{else}}Login{{/if}}
    </a></button>

  </div>
</nav>
<div style="clear:both;"></div>