<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>{{pagetitle}} Local Tokens Admin</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/css/lib/normalize.css">
  <link rel="stylesheet" href="/css/lib/skeleton.css">
  <link rel="stylesheet" href="/css/lib/font-awesome.min.css">
  <link rel="stylesheet" href="/css/admin.combo.min.css">

</head>

<body class="admin">

  {{>topnav loggedin=true}}
 
  <nav class="menu">
    <div class="container">
      <ul>
        <li><a href="/admin/ledger">Ledger</a></li>
        <li><a href="/admin/bestow">Bestow</a></li>
        <li><a href="/admin/users">Users</a></li>
      </ul>
    </div>
  </nav>

  <div class="container main">

    {{{body}}}
		
  </div>

	<!-- JS
	  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="/js/lib/jquery.min.js" ></script>
    <script src="/js/lib/moment.min.js"></script>
    <script src="/js/admin.min.js" ></script>
    <!--<script src="/js/script.js" ></script>-->
    
	</body>
	</html>
