<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{{pagetitle}} Local Tokens Admin</title>
  

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
  
  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/lib/font-awesome.min.css">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/admin.css">


</head>
<body class="admin">

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {{>topnav loggedin=true}}
 
  <nav class="menu">
    <div class="container">
      <ul>
        <li><a href="/admin/ledger">Ledger</a></li>
        <li><a href="/admin/bank">Bank</a></li>
        <li><a href="/admin/mint">Mint</a></li>
        <li><a href="/admin/bestow">Bestow</a></li>
        <li><a href="/admin/users">Users</a></li>
      </ul>
    </div>
  </nav>

  <div class="container main">

    {{{body}}}
		
  </div>

	<!-- JS
	  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="/js/lib/jquery.min.js" ></script>
    <script src="/js/lib/jquery.dataTables.min.js" ></script>
    <script src="/js/script.js" ></script>
    
	</body>
	</html>
