<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{{pagetitle}} Local Tokens Admin</title>
  

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/admin.css">


</head>
<body class="admin">

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <nav class="topnav">
    <div class="navtitle"><h1>Local Tokens :: Admin</h1></div>
  </nav>
  <div style="clear:both;"></div>
  
  <nav class="menu">
    <div class="container">
      <ul>
        <li><a href="/admin/bank">Bank</a></li>
        <li><a href="/admin/ledger">Ledger</a></li>
        <li><a href="/admin/mint">Mint</a></li>
        <li><a href="/admin/bestow">Bestow</a></li>
      </ul>
    </div>
  </nav>

  <div class="container main">

    {{{body}}}
		
  </div>

	<!-- End Document
	  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	</body>
	</html>
