<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{{pagetitle}} Local Tokens</title>
  

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {{!-- <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> --}}

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/lib/font-awesome.min.css">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/home.css">


</head>
<body class="home">

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {{>topnav}}

  <div class="hero">
    <h2 class="container">Fuck Capitalism.</h2>
  </div>

  <div class="description">
    <!--<p>What if there were a way to get the things you need without using money?</p>-->
  </div>

  <div class="container main">
    <div class="row heading">
        <div class="sixteen column">
          <h3><strong>Local Tokens</strong> are a time-based local currency
          <!-- <br>keeping resources in the hands of people --></h3>
        </div>
    </div>
    <div class="row">
        <div class="one-half column infobox">
          <h3>How It Works</h3>
          <p>With Local Tokens, when you provide someone a good or service, 
            they agree to give you a certain number of (virtual) tokens. 
            They transfer the tokens to you online. 
            When you want to access a good or service from someone else, 
            you transfer tokens from your account to theirs.</p>
        </div>
        <div class="one-half column infobox">
          
        </div>
    </div> 
    <div class="row">
        <div class="one-half column infobox">
          <h3>&nbsp;</h3>
        </div>
        <div class="one-half column infobox">
          <h3>Join Us</h3>
          <p>When you sign up for an account, you get 2 tokens to start off. 
            You can also earn tokens by helping maintain the community, like moderating disputes, or chipping in for server fees. (More about that <a>here</a>.)</p> 
            <p>You'll have access to our listings of what people have to offer, and of course, you can always trade with people you already know.  Sign up &rarr; </p>
          
        </div>
    </div>
    <div class="row">
        <div class="one-half column infobox">
          <h3>Community Values</h3>
          <p>Trading locally keeps resources in the community. Local Tokens are based on time, not money, and we run on the principle that no one's time is more valuable than anyone else's. Though you could try to assign a dollar amount to time, we choose not to, and Local Tokens are never redeemable for cash. A good way to think about the value of Local Tokens is that one token is roughly equal to one hour of a person's time. How many hours is your neighbor's couch worth? That's up to you and your neighbor to decide.</p>
        </div>
        <div class="one-half column infobox">
          
        </div>
    </div>

  </div>
  <section class="faq">
    <div class="container">
      <div class="row faq">
          <div class="sixteen column">
            <h3>FAQ</h3>

            <h4>So it's bartering?</h4>
            <p>No. It's much easier. To barter, you have to find a person who both has something
             you want and wants something you have. With Local Tokens, you
             exchange tokens, like you would cash, so that everyone gets what they actually need.</p>

            <h4>So it's just money?</h4>
            <p>It's currency, but not money. Local Tokens have no cash value. 
              Their value is loosely based on time: one token represents an hour of a person's time.</p>

              <h4>So it's bartering?</h4>
              <p>No. It's much easier. To barter, you have to find a person who both has something
               you want and wants something you have. With Local Tokens, you
               exchange tokens, like you would cash, so that everyone gets what they actually need.</p>

              <h4>So it's just money?</h4>
              <p>It's currency, but not money. Local Tokens have no cash value. 
                Their value is loosely based on time: one token represents an hour of a person's time.</p>

          </div>
      </div>
    </div>
  </section>
    <!-- <div class="row">
        <div class="one-half column infobox">
          
        </div>
        <div class="one-half column infobox">
          
        </div>
    </div> -->
    <!-- <div class="row">
        <div class="one-third column infobox">
          <h3>Your time has value</h3>
        </div>
        <div class="one-third column infobox">
          <h3>Your stuff has value</h3>
        </div>
        <div class="one-third column infobox">
          <h3>So does everyone's</h3>
        </div>
    </div> -->
    

  {{!-- {{{body}}} --}}
  

	<!-- End Document
	  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	</body>
	</html>
