<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>{{pagetitle}}{{#if pagetitle}} | {{/if}}Community Cred</title>
 
  <meta name="viewport" content="width=device-width, initial-scale=1">

 
  <link rel="stylesheet" href="/css/lib/normalize.css">
  <link rel="stylesheet" href="/css/lib/skeleton.css">
  <link rel="stylesheet" href="/css/lib/font-awesome.min.css">
  <link rel="stylesheet" href="/css/main.min.css">
  <script src="/js/lib/jquery.min.js" ></script>

  <!-- Piwik -->
  <script type="text/javascript">
    var _paq = _paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//stats.communitycred.com/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', '1']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <!-- End Piwik Code -->

</head>
<body>
{{>topnav}}

  <nav class="menu">
    <div class="container main"> 
    <ul>
      {{#if loggedin}}
        <li {{#equal pagetitle "Dashboard"}}class="active"{{/equal}}><a href="/user/dashboard">Dashboard</a></li>
        <li  {{#equal pagetitle "Find People"}}class="active"{{/equal}}><a href="/user/search">People</a></li>
        {{!-- <li {{#equal page "profile"}}class="active"{{/equal}}><a href="/user">Your profile</a></li> --}}
        <li {{#equal pagetitle "Send Cred"}}class="active"{{/equal}}><a href="/exchange/send">Send Cred</a></li>
        <li {{#equal pagetitle "Community Posts"}}class="active"{{/equal}}><a href="/community/marketplace">Marketplace</a></li>
      {{/if}}
    </ul>   
  </div>
  </nav>

  <div class="container">

    {{{body}}}
		
  </div>
  <p>&nbsp;</p>
  <!--<footer>footer</footer>-->

	<!-- JS
	  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  
  <!--<script src="/js/lib/validate.js"></script>-->
  <script src="/js/lib/moment.min.js"></script>
  <script src="/js/main.min.js" ></script>
  
	</body>
	</html>
