<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>{{pagetitle}}{{#if pagetitle}} | {{/if}}Community Cred</title>
 
  <meta name="viewport" content="width=device-width, initial-scale=1">

 
  <link rel="stylesheet" href="/css/lib/normalize.css">
  <link rel="stylesheet" href="/css/lib/skeleton.css">
  <link rel="stylesheet" href="/css/lib/font-awesome.min.css">
  <link rel="stylesheet" href="/css/main.min.css">
  <script src="/js/lib/jquery.min.js" ></script>

</head>
<body>
{{>topnav}}

  <nav class="menu">
    <div class="container main"> 
    <ul>
      {{#if loggedin}}
        <li {{#equal pagetitle "Dashboard"}}class="active"{{/equal}}><a href="/user/dashboard">Dashboard</a></li>
        <li  {{#equal pagetitle "Find People"}}class="active"{{/equal}}><a href="/user/search">People</a></li>
        {{!-- <li {{#equal page "profile"}}class="active"{{/equal}}><a href="/user">Your profile</a></li> --}}
        <li {{#equal pagetitle "Send Cred"}}class="active"{{/equal}}><a href="/exchange/send">Send Cred</a></li>
        <li {{#equal pagetitle "Community Posts"}}class="active"{{/equal}}><a href="/community/marketplace">Marketplace</a></li>
      {{/if}}
    </ul>   
  </div>
  </nav>

  <div class="container">

    {{{body}}}
		
  </div>
  <p>&nbsp;</p>
  <!--<footer>footer</footer>-->

	<!-- JS
	  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  
  <!--<script src="/js/lib/validate.js"></script>-->
  <script src="/js/lib/moment.min.js"></script>
  <script src="/js/main.min.js" ></script>
  
	</body>
	</html>
