<div class="bestow">
    <form action="/admin/bestow" method="post">
        <div>
            <label>Bestow 1 token on</label>
            <input type="text" name="receiver" placeholder="username" id="receiver"/>
        </div>
        <div class="field-validation receiver"></div>
        
        <div>
            <input type="submit" value="Bestow!"/>
        </div>
    </form>
</div>