<div class="profile">
	<flash-message></flash-message>
	<editbox></editbox>
	<!-- include riot.js -->
	<script src="/js/lib/riot.min.js"></script>

	<!-- include the tag -->
	<script src="/js/tags/editbox.js"></script>
	<script src="/js/tags/flash-message.js"></script>

	<!-- mount the tag -->
	<script>
	var sharedObservable = riot.observable();
	riot.mount('flash-message',{observable: sharedObservable});
	riot.mount('editbox', {
	      username: "{{username}}",
	      profilename: "{{profilename}}",
	      profile_text: "{{profile_text}}",
	      url: "{{url}}",
	      observable: sharedObservable
	    });
	
	</script>
</div>