<div class="feedback">
	<div class="flash">{{msg}}</div>
	<h2>Feedback</h2>
	<p>Let us know what you think. If you experience a problem with the site, this is the place to report it. 
		<br>You can also use this form to report an issue with an exchange or a user.</p>

	<form method="post" action="/feedback">
	<textarea name="feedback"></textarea>
	<br>
	<input type="Submit" value="Send">
	</form>
</div>