<h2>User Feedback</h2>
<p><strong>From:</strong> <a href="/user/profile/{{feedback.username}}">{{feedback.username}}</a></p>
<p><strong>{{formatDate feedback.datetime 'MM-DD-YYYY HH:mm'}}</strong></p>

<p>{{feedback.content}}</p>