<div class="messageboard">
	<h2>New Post</h2>
	<form method="post" action="/messageboard/new" enctype="multipart/form-data" id="new-msg-form">
		
		<label>Title</label>
		<input type="text" name="title" class="msgtitle"/>
		<label>Body</label>
		<textarea name="messagebody" class="msgbody"></textarea><br/>
		<label>Photo</label>
		<p>Only one photo is allowed. Choose wisely.</p>
		<input type="file" name="photo" id="photo-upload"><br>
		<p>File must be less than 4MB</p>

		{{!-- <label for="file-upload" class="custom-file-upload button">
		    <i class="fa fa-upload"></i> Custom Upload
		</label>
		<input id="file-upload" type="file"/>
		<div id="filename"></div> --}}
		<input type="submit" />
	</form>
</div>
<style>
/*input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}*/
</style>
