<div class="mint">
    <h2>Mint Currency</h2>
    <p>To add one token to the system, click the button below</p>
    <form action="/admin/mint" method="post">
            <input type="submit" value="Mint!"/>
    </form>
</div>