<div class="messageboard">
	<h2>New Post</h2>
	<form method="post" action="/community/posts/new" enctype="multipart/form-data" id="new-msg-form">
		<label>Type</label>
		<input type="radio" name="type" value="offering" checked> Offering <br>
		<input type="radio" name="type" value="seeking"> Seeking
		<label>Title</label>
		<input type="text" name="title" class="msgtitle"/>
		<label>Body</label>
		<textarea name="messagebody" class="msgbody"></textarea><br/>

		<label>Contact Info</label>
		<p>Please provide a way to contact you.<br>
		You can use your phone number, email, twitter handle, a link to an online form, etc</p>
		<input type="text" name="contact" class="contactinput" />

		<label>Photo</label>
		<input type="file" name="photo" id="photo-upload"><br>
		<p>File must be less than 4MB</p>

		<input type="submit" /><div class="field-validation"></div>
	</form>
</div>