<div class="profile">
	<h2>{{profile_user}}</h2>
	<div class="row">
		<div class="one-third column profile-pic">
			<img src="/images/avatar.png">
			<div class="profile-bal">
				{{balance}}
			</div>
		</div>
		<div class="two-thirds column">
			<p><strong>Balance:</strong> {{balance}} {{pluralize balance 'token' 'tokens'}}</p>
			<p>&nbsp;</p>
			<p>This is placeholder text lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ultricies convallis fermentum. Aenean et dui tincidunt, elementum magna at, laoreet turpis.</p>
			<p>&nbsp;</p>

			<div class="row">
				<div class="column one-half">
					<h4>Offering</h4>
					<ul>
						<li>Web Help</li>
						<li>Vegan Cupcakes</li>
						<li>Bike Loan</li>
						<li>Gardening</li>
					</ul>
				</div>
				<div class="column one-half">
					<h4>Seeking</h4>
					<ul>
						<li>Cat-sitting</li>
						<li>Apartment cleaning</li>
						<li>Area Rug</li>
						
					</ul>
				</div>
			</div>

		</div>
	</div>

	




</div>
