<h2>Sign up</h2>
<p>{{error}}</p>
<form action="/signup" method="post">
    <div>
        <label>Username</label>
        <input type="text" name="username"/>
    </div>
    <div>
        <label>Password</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <label>Confirm Password</label>
        <input type="password" name="password_confirm"/>
    </div>

    <div>
        <label>First Name</label>
        <input type="text" name="firstname"/>
    </div>

     <div>
        <label>Last Name</label>
        <input type="text" name="lastname"/>
    </div>

    <div>
        <label>Email</label>
        <input type="text" name="email"/>
    </div>

    <p>Terms of Service placeholder</p>
    <div>
        <input type="submit" value="Sign up"/>
    </div>
</form>