<div class="sendtokens">
    <h2>Send Tokens</h2>
    <form action="/transact/send" method="post">
        <div>
            <label>Send to</label>
            <input type="text" name="receiver" placeholder="username" id="receiver"/>
        </div>
        <div class="field-validation receiver"></div>

        <div>
            <label>Amount</label>
            <input type="number" name="amt" id="amt"/>
        </div>
        
        <div>
            <input type="submit" value="Send it!"/>
        </div>
    </form>
</div>