<form action="/send" method="post">
    <div>
        <label>Send to user id: </label>
        <input type="text" name="receiver_id"/>
    </div>

    <div>
        <label>Amount: </label>
        <input type="text" name="amt"/>
    </div>
    
    <div>
        <input type="submit" value="Send it!"/>
    </div>
</form>